<!DOCTYPE html>
<html>
<head>
<title>Municípios</title>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
</head>
<body>

<h1>Municípios</h1>

<table>
  <tr>
    <th>Regiões</th>
    <th>Unidades da Federação</th>
  </tr>
  <tr>
    <td valign="top">
      <select id="regiao" size="10">
        {% for regiao in object_list %}
          <option value="{{regiao.id}}">{{regiao.nome}}</option>
        {% endfor %}
      </select>
    </td>
    <td valign="top">
      <select id="uf" size="10">
      </select>
    </td>
 </tr>
</table>

<script type="text/javascript">
(function($) {
    $(document).ready(function(){
        $("#regiao").click(function(event){
            var sel = $(this+"option:selected");
            $("#uf").empty();
            $.getJSON('/api/uf/'+sel.attr('value')+'/', function(data) {
                var items = [];
                $.each(data.object_list, function(key, val) {
                    items.push('<option value="'+val.id+'">'+
                                val.nome+'</option>');
                });
                $(items.join('\n')).appendTo('#uf');
            });
        });
    });
})(django.jQuery)
</script>

